/**
 * 样式重置
 * 覆盖浏览器默认样式
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
}

// 清除浮动
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
